# Photoshop
*.psd
*.PSD

*.psb
*.PSB

# Editable folders
templates/

# Print files
**/print/

# Assets Files
**/assets/

# Photoshop automation script for batch exporting card files as PNG images
*.jsx